
.description {
  font-size: 20px;
  color: #545F7D;
  opacity: .7;
}


.loginformforgot {
  color: #39CDCC;
  text-decoration: none;
  text-transform: uppercase;
}

.showText{
  position: absolute;
  top: 12px;
  right: 12px;
}

